services:

  kokoro-tts:
    image: ghcr.io/remsky/kokoro-fastapi-cpu:v0.2.2
    container_name: kokoro-tts
    ports:
      - "8880:8880"
    environment:
      - PYTHONUNBUFFERED=1
    restart: unless-stopped
    volumes:
      - kokoro_models:/app/models

  ollama:
    image: ollama/ollama:latest
    container_name: ollama
    ports:
      - "11434:11434"
    volumes:
      - ollama_models:/root/.ollama
    restart: unless-stopped
  ollama-pull:
    image: ollama/ollama:latest
    container_name: ollama-pull
    depends_on:
      - ollama
    entrypoint: >
      sh -c "sleep 5 && ollama pull gemma3:12b"
    environment:
      - OLLAMA_HOST=http://ollama:11434
    restart: "no"

volumes:
  kokoro_models:
  ollama_models:
